@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #452be0;;
  --primary-foreground: #131314;
  --secondary: #f4f4f4;
  --secondary-foreground: #7a8386;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat',sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
